.vscode
.DS_Store
build
*/wrk2/deps
*/wrk2/obj
*/wrk2/wrk
services

socialNetwork/services
socialNetwork/dbs
socialNetwork/bench

**/.clangd
**/.cache

compile_commands.json

mediaMicroservices/dbs
mediaMicroservices/services
mediaMicroservices/db_backups
mediaMicroservices/MovieId.log
mediaMicroservices/MovieInfo.log
mediaMicroservices/CastInf.log
mediaMicroservices/compose.log
mediaMicroservices/page.log
